.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color: #3e2723;
  padding: 10px;
  border-radius: 10px;
  }

  .grid-item {
    background-color: #80cbc4;
    border: 1px solid #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .navbar{
    display: flex;
    flex-direction: row;
    height: 120px;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-title{
    font-size: 30px;
    color: blue;
    justify-items: flex-start;
  }

  .navbar-title:link {
    text-decoration: none;
  }

  .navbar-links {
    display: inline-block;
    color: black;
    justify-content: space-between;
    height: 100%; 
    padding-right: 40px;
  }
  
  .navbar-links:link {
    text-decoration: none;
  }
  
  .navbar-links:hover {
    text-decoration: underline
  }