:root {
  --dark-blue: #546A76;
  --lighter-blue: #88a0a8;
  --light-green: #B4CEB3;
  --grayish: #DBD3C9;
  --bronze: #DBD3C9;
  --brown: #3e2723;
}

@import url(
  'https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap'
  );

body {
  background-color: var(--grayish);
  font-family: 'Work Sans', sans-serif;
}



.grid-container {
  display: grid;
  grid-template-columns: auto;
  background-color:  white;
  padding: 10px;
  border-radius: 10px;
}

.grid-item {
  background-color: var(--light-green);
  border: 1px solid #fff;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  height: 120px;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 30px;
  color: var(--dark-blue);
  justify-items: flex-start;
}

.navbar-title:link {
  text-decoration: none;
}

.navbar-links {
  display: inline-block;
  color: black;
  justify-content: space-between;
  height: 100%;
  padding-right: 40px;
}

.navbar-links:link {
  text-decoration: none;
}

.navbar-links:hover {
  text-decoration: underline
}


.settings-container {
  margin-top: 50px;
  background-color: var(--lighter-blue);
  border-radius: 15px;
  color: white;
}


.flex-container {
  display: flex;
  gap: 10px
}

.settings-colors-container {
  flex-direction: column;
  margin-right: 30px;
  /* border: solid black 1px; */
  gap: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
}

#settings-colorbox-container {
  display: flex;


}

.settings-para {
  font-size: 15px;
  font-weight: bold;
  /* text-align: center; */
  margin-bottom: 0px;
}

.radio-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}
.radio-container:hover input ~ .radio-checkmark {
  outline: 2px solid black;
  outline-offset: -2px;
}

.radio-container input:checked ~ .radio-checkmark {
  outline: 2px solid black;
  outline-offset: -2px;
  }

.radio-checkmark {
  position: absolute;
  top: 20%;
  left: 20%; 
  height: 30px;
  width: 30px;
  /* background-color: gray; */
  border-radius: 50%;
  outline: 3px solid white;
  outline-offset: -2px;
}
.fontColorRadio {
  opacity: 0;
  width: 45px;
  height: 45px;
  margin: 0;

}

#fontColorRadio-blue {
  background-color: blue;
}
#fontColorRadio-black {
  background-color: black;
}
#fontColorRadio-white {
  background-color: white;
}
#fontColorRadio-red {
  background-color: red;
}
#fontColorRadio-green {
  background-color: green;
}


.textFormatSwitch, .textLayoutSwitch {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-right: 12px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 5px;
}

#textLayout-left {
  background-image: url("./images/icons8-align-left-64.png");
  background-size: 30px;
}

#textLayout-right {
  background-image: url("./images/icons8-align-right-64.png");
  background-size: 30px;
}

#textLayout-center {
  background-image: url("./images/icons8-align-center-64.png");
  background-size: 30px;
}

#textFormat-left {
  background-image: url("./images/icons8-square-67.png");
  background-size: 20px;
}

#textFormat-right {
  background-image: url("./images/icons8-square-67.png");
  background-size: 20px 10px;
}

#textFormat-center {
  background-image: url("./images/icons8-square-67.png");
  background-size: 10px 20px;
}

.settings-format-container {
  display: flex;
  flex-direction: column;
}